body{
  background-color: rgb(198, 255, 198);
}

.jumbotron{
  text-align: center;
  padding: 2%;
  border: 5px solid darkseagreen;
  background: rgb(198, 255, 198);
  width: auto;
}
.jumbotron img{
  width: 10%;
  border: 5px solid darkolivegreen;
  border-radius: 40%;
}

.header h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col-md-6{
  border: 5px solid darkseagreen;
  border-radius: 1%;
  
}

.col-md-6 h2{
  text-align:center;
  padding: 5%;
  margin: 2px;
}
ul{
  font-size: 15pt;
}

li{
  font-size: 12pt;
}

ol{
  font-size: 15pt;
}

ul, ol{
  font-size: 15pt;
}

li{
  font-size: 12pt;
}

a:link{
  color: rgb(0, 185, 0);
}

a:visited, a:hover{
  color:darkgreen;
}

.emphasis{
  font-style: italic;
  font-weight: bold;
}