body{
  background-color: rgb(198, 255, 198);
}

.header{
  text-align: center;
  border-bottom: 5px solid darkolivegreen;
}

.header img{
  border: 4px solid darkolivegreen;
  border-radius: 40%;
  width: 10%;
}

.header h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  float:left;
  text-align: center;
  width: 50%;
  padding-top: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container a{
  font-size: 30pt;
  
}